<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title th:text="${pageTitle}">Site Config</title>
		<span th:substituteby="commons :: common-css"></span>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<!-- header section -->
				<div class="header col-md-12">
					<div class="row">

						<!-- header top-->
						<span th:substituteby="commons :: common-top-menu"></span>

						<!-- header main -->
						<span th:substituteby="commons :: common-site-logo-title"></span>

					</div>
				</div>

				<!-- menu main section-->
				<span th:substituteby="commons :: common-menu"></span>

				<!-- content section -->
				<div class="col-md-12 content-area">
					<div class="row">

						<!-- Success / Error Messages -->
						<div class="col-md-12">
							<div th:if="${sm}" id="success-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${sm}">Message</span> 
							</div>
							<div th:if="${em}" id="error-alert" class="alert alert-danger alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Error!</strong> <span th:text="${em}">Message</span> 
							</div>
						</div>

						<!-- Site Config -->
						<div class="col-md-12 super-admin-dashboard">
							<div class="panel panel-primary">
								<div class="panel-heading custom-primary">
									<div class="row panel-heading-row">
										<h4><i class="fa fa-cogs"></i> Site Config</span></h4>
										<a th:href="@{/}" class="btn btn-success btn-sm pull-right"><i class="fa  fa-backward"></i> Back</a>
									</div>
								</div>
								<div class="panel-body">
									<form th:action="@{/siteConfig}" th:object="${siteConfig}" method="POST" enctype="multipart/form-data">
										<input type="hidden" th:field="*{username}"/>
										<div class="form-group">
											<input type="checkbox" th:field="*{enableLogo}" checked data-toggle="toggle" data-on="Image Logo" data-off="Text Logo" data-onstyle="success" data-offstyle="info">
										</div>
										<hr/>
										<div class="form-group">
											<label class="control-label">Site Image Logo</label>
											<span class="pull-right text-success">Max Size: 2MB, (270 x 52)px</span>
											<div class="input-group">
												<label class="input-group-btn">
													<span class="btn btn-primary">
														Brows &hellip; <input accept=".jpg, .jpeg, .png" type="file" name="file" id="file" style="display: none;">
													</span>
												</label>
												<input type="text" class="form-control" readonly="readonly" placeholder="Please select a jpg, png, jpeg image. Max(5MB)">
											</div>
										</div>
										<div id="uploadPreview" class="siteLogo">
											<img th:unless="${#strings.isEmpty(siteConfig.logo)}" th:src="@{/resources/upload/site/logo/} + ${siteConfig.logo}"/>
											<img th:if="${#strings.isEmpty(siteConfig.logo)}" th:src="@{/img/site_logo.png}"/>
										</div>
										<hr/>
										<div class="form-group">
											<label>Site Text Logo</label>
											<input type="text" th:field="*{siteName}" class="form-control"/>
										</div>
										<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
									</form>
								</div>
							</div>
						</div>
						<!-- / end Send SMS Form -->

						<span th:substituteby="commons :: common-copyright"></span>
					</div>
				</div><!-- / end content section -->

			</div><!-- / end row -->
		</div><!-- / end conatiner -->

		<span th:substituteby="commons :: common-js"></span>
		<script type="text/javascript" th:src="@{/js/sms-bucket/sms_bucket.js}"></script> 
	</body>
</html>