image: maven:3.3.9
pipelines:
  default:
  - step:
      caches:
      - maven
      script:
      - mvn -B verify
      image: node:6.9.4

  branches:
    master:
      - step:
          image: redis
          script:
            - redis-cli -h localhost ping
          services:
            - redis
            - mysql
definitions:
  services:
    redis:
      image: redis
    mysql:
      image: mysql
      environment:
        MYSQL_ROOT_PASSWORD: "1234"