<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" type="image/png" th:href="@{img/favicon.ico}"/>
		<title>Edit Dealer</title>
		<meta th:substituteby="commons :: common-css"></meta>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<!-- header section -->
				<div class="header col-md-12">
					<div class="row">

						<!-- header top-->
						<span th:substituteby="commons :: common-top-menu"></span>

						<!-- header main -->
						<span th:substituteby="commons :: common-site-logo-title"></span>

					</div>
				</div>

				<!-- menu main section-->
				<span th:substituteby="commons :: common-menu"></span>

				<!-- content section -->
				<div class="col-md-12 content-area">
					<div class="row">

						<!-- Success / Error Messages -->
						<div class="col-md-12">
							<div th:if="${sm}" id="success-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${sm}">Message</span> 
							</div>
							<div th:if="${em}" id="error-alert" class="alert alert-danger alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Error!</strong> <span th:text="${em}">Message</span> 
							</div>
						</div>

						<!-- dealer create form  -->
						<div class="col-md-12 add-deller-page">
							<div class="panel panel-primary">
								<div class="panel-heading custom-primary">
									<h4 style="margin: 0;">Edit Dealer</h4>
								</div>
								<div class="panel-body">
									<form id="usersform" th:action="@{/dealer/update}" method="post" th:object="${dealer}" autocomplete="off" enctype="multipart/form-data">
										<div class="row">
											<div class="col-md-8">
												<div class="form-group">
													<label>Dealer Name</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('dealerName')}" th:errors="*{dealerName}">Error</span>
													<div class="required-field-block">
														<input type="text" th:field="*{dealerName}" class="form-control" required="required"/>
														<input type="hidden" th:field="*{dealerId}" class="form-control"/>
														<div class="required-icon">
															<div class="text">*</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label>Email Address</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
													<span id="emailError" class="pull-right text-danger"></span>
													<div class="required-field-block">
														<input type="email" nospace="true" th:field="*{email}" class="form-control" th:attr="action=@{/users/checkemail}" required="required"/>
														<div class="required-icon">
															<div class="text">*</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label>Password</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
													<input type="password" th:field="*{password}" class="form-control password"/>
												</div>
												<div class="form-group">
													<label>Mobile</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">Error</span>
													<div class="required-field-block">
														<input type="text" th:field="*{mobile}" maxlength="11" class="form-control numeric-only" required="required"/>
														<div class="required-icon">
															<div class="text">*</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label>Address</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Error</span>
													<div class="required-field-block">
														<textarea th:field="*{address}" class="form-control" required="required"></textarea>
														<div class="required-icon">
															<div class="text">*</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label">Upload Photo:</label>
													<span class="pull-right text-success">Max Size: 5MB, (200 x 220)px</span>
													<div class="input-group">
														<label class="input-group-btn">
															<span class="btn btn-primary">
																Brows &hellip; <input accept=".jpg, .jpeg, .png" type="file" name="file" id="file" style="display: none;">
															</span>
														</label>
														<input type="text" class="form-control" readonly="readonly" placeholder="Please select a jpg, png, jpeg image. Max(5MB)">
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div id="uploadPreview">
													<img th:unless="${#strings.isEmpty(dealer.photo)}" th:src="@{/resources/upload/dealer/} + ${dealer.photo}"/>
													<img th:if="${#strings.isEmpty(dealer.photo)}" th:src="@{/img/dummy_photo.png}"/>
												</div>
											</div>
										</div>
										<div class="col-md-12" style="text-align: center;">
											<button type="submit" disabled="disabled" class="btn btn-success disabled"><i class="fa fa-save"></i> Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div><!-- / end dealer create form  -->

					</div>
				</div><!-- / end content section -->

				<span th:substituteby="commons :: common-copyright"></span>
			</div><!-- / end row -->
		</div><!-- / end conatiner -->

		<span th:substituteby="commons :: common-js"></span>
	</body>
</html>