<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title th:text="${pageTitle}">DashBoard</title>
		<span th:substituteby="commons :: common-css"></span>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<!-- header section -->
				<div class="header col-md-12">
					<div class="row">

						<!-- header top-->
						<span th:substituteby="commons :: common-top-menu"></span>

						<!-- header main -->
						<span th:substituteby="commons :: common-site-logo-title"></span>

					</div>
				</div>

				<!-- menu main section-->
				<span th:substituteby="commons :: common-menu"></span>

				<!-- content section -->
				<div class="col-md-12 content-area">
					<div class="row">

						<!-- Success / Error Messages -->
						<div class="col-md-12">
							<div th:if="${sm}" id="success-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${sm}">Message</span>
							</div>
							<div th:if="${em}" id="error-alert" class="alert alert-danger alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Alert!</strong> <span th:text="${em}">Message</span>
							</div>
						</div>

						<!-- Client details -->
						<div class="col-md-12 super-admin-dashboard">
							<div class="panel panel-primary" id="print-element">
								<div class="panel-heading custom-primary">
									<div class="row panel-heading-row">
										<h4 th:text="#{dashboard.table.dealerInfo}">Dealer Info</h4>
										<div class="btn-group pull-right">
											<a th:href="@{/}" class="btn btn-sm btn-success"><i class="fa fa-backward"></i> Back</a> 
											<a th:href="@{/dealer/edit/} + ${dealer.dealerId}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> Edit</a> 
											<a th:href="@{/print/dealer/} + ${dealer.dealerId}" target="_blank" class="btn btn-sm btn-info"><i class="fa fa-print"></i> Print</buton>
										</div>
									</div>
								</div>
								<div class="panel-body" id="inside_element">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-9">
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Dealer Name</label>
													<div class="col-md-8 profileView-div" th:text="${dealer.dealerName}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Mobile Number</label>
													<div class="col-md-8 profileView-div" th:text="${dealer.mobile}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Email</label>
													<div class="col-md-8 profileView-div" th:text="${dealer.email}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Address</label>
													<div class="col-md-8 profileView-div" th:text="${dealer.address}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Status</label>
													<div class="col-md-8 profileView-div" th:text="${dealer.status?'Active':'Inactive'}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Register Date</label>
													<div class="col-md-8 profileView-div" th:text="${dealer.registerDate}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label" th:text="#{dashboard.totalSellOfSoftware}">Total Sell of software</label>
													<div class="col-md-8 profileView-div" th:text="${dealerDashboard.totalSellOfSoftware}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label" th:text="#{dashboard.activeClient}">Active Client</label>
													<div class="col-md-8 profileView-div" th:text="${dealerDashboard.activeClient}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label" th:text="#{dashboard.inactiveClient}">Deactive Client</label>
													<div class="col-md-8 profileView-div" th:text="${dealerDashboard.inactiveClient}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label" th:text="#{dashboard.serviceRenewOnThisMonth}">Deactive Client</label>
													<div class="col-md-8 profileView-div" th:text="${dealerDashboard.serviceRenewOnThisMonth}"></div>
												</div>
											</div>
											<div class="col-md-2 pull-right" th:unless="${#strings.isEmpty(dealer.photo)}">
												<div class="profile-photo pull-right">
													<img th:src="@{/resources/upload/dealer/} + ${dealer.photo}" />
												</div>
												<a th:href="@{/dealer/photoRemove/} + ${dealer.dealerId}" class="btn btn-danger" style="margin-top:10px;"><i class="fa fa-trash"></i> Delete Photo</a>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="row">
											<hr />
											<h3 align="center">Clients List</h3>
											<table
												class="table table-bordered table-responsive table-hover"
												id="example" width="100%">
												<thead>
													<tr style="color: tomato;">
														<th th:text="#{dashboard.table.no}">No.</th>
														<th th:text="#{dashboard.table.clientName}">Client name</th>
														<th th:text="#{dashboard.table.mobileNo}">Mobile Number</th>
														<th th:text="#{dashboard.table.status}">Status</th>
														<th th:text="#{dashboard.table.expireDate}">Expire Date</th>
														<th th:text="#{dashboard.table.remainingDay}">Remaining Day</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="row,num : ${dealer.clients}">
														<td th:text="${num.count}">1</td>
														<td th:text="${row.clientName}"></td>
														<td th:text="${row.mobile}"></td>
														<td th:text="${row.status == true?'Active':'Inactive'}"></td>
														<td th:text="${row.expireDate}"></td>
														<td th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}" th:text="${days.convert(row.expireDate.getTime() - row.registerDate.getTime(), millis)}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span th:substituteby="commons :: common-copyright"></span>
					</div>
				</div>
				<!-- / end content section -->

			</div>
			<!-- / end row -->
		</div>
		<!-- / end conatiner -->

		<span th:substituteby="commons :: common-js"></span>
		<script type="text/javascript" th:src="@{/js/dealer/dealer.js}"></script>
	</body>
</html>