<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title th:text="${pageTitle}">DashBoard</title>
		<span th:substituteby="commons :: common-css"></span>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<!-- header section -->
				<div class="header col-md-12">
					<div class="row">

						<!-- header top-->
						<span th:substituteby="commons :: common-top-menu"></span>

						<!-- header main -->
						<span th:substituteby="commons :: common-site-logo-title"></span>

					</div>
				</div>

				<!-- menu main section-->
				<span th:substituteby="commons :: common-menu"></span>

				<!-- content section -->
				<div class="col-md-12 content-area">
					<div class="row">

						<!-- Success / Error Messages -->
						<div class="col-md-12">
							<div th:if="${success}" id="success-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${success}">Message</span> 
							</div>
							<div th:if="${error}" id="error-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${error}">Message</span> 
							</div>
						</div>

						<!-- All users details -->
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading custom-primary">
									<h4 style="margin: 0; color: #fff;"><i class="fa fa-users"></i> All Users List</h4>
								</div>
								<div class="panel-body">
									<table class="table table-bordered table-responsive table-hover" id="example" width="100%">
										<thead>
											<tr style="color: tomato;">
												<th th:text="#{dashboard.table.no}">No.</th>
												<th th:text="#{table.user.name}">Name</th>
												<th th:text="#{table.user.email}">Email</th>
												<th th:text="#{table.user.mobile}">Mobile</th>
												<th th:text="#{table.user.role}">Role</th>
												<th th:text="#{table.user.status}">Status</th>
												<th data-nosort="Y" th:text="#{dashboard.table.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="row,num : ${users}">
												<td th:text="${num.count}">1</td>
												<td th:text="${row.name}"></td>
												<td th:text="${row.email}"></td>
												<td th:text="${row.mobile}"></td>
												<td th:text="${row.role}"></td>
												<td th:text="${row.enabled == true?'Active':'Inactive'}"></td>
												<td style="text-align: center;">
													<div th:unless="${#authentication.getPrincipal().getUsername() eq row.username}" class="btn-group">
														<a th:if="${row.enabled}" th:href="@{/users/changeStatus/} + ${row.username}" data-toggle="tooltip" th:title="#{dashboard.table.suspendProfile}" class="btn btn-sm btn-danger"><i class="fa fa-arrow-down"></i> Deactive</a>
														<a th:unless="${row.enabled}" th:href="@{/users/changeStatus/} + ${row.username}" data-toggle="tooltip" th:title="#{dashboard.table.activeProfile}" class="btn btn-success btn-sm"><i class="fa fa-arrow-up"></i> Active</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table> 
								</div>
							</div>
						</div>
						<!-- / end All users deatails -->

						<!-- Archive Users Details -->
						<div class="col-md-12">
							<div class="panel panel-success">
								<div class="panel-heading custom-success">
									<h4 style="margin: 0; color: #fff;"><i class="fa fa-users"></i> Archive Users List</h4>
								</div>
								<div class="panel-body">
									<table class="table table-bordered table-responsive table-hover" id="example" width="100%">
										<thead>
											<tr style="color: tomato;">
												<th th:text="#{dashboard.table.no}">No.</th>
												<th th:text="#{table.user.name}">Name</th>
												<th th:text="#{table.user.email}">Email</th>
												<th th:text="#{table.user.mobile}">Mobile</th>
												<th th:text="#{table.user.role}">Role</th>
												<th th:text="#{table.user.status}">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="row,num : ${archivedUsers}">
												<td th:text="${num.count}">1</td>
												<td th:text="${row.name}"></td>
												<td th:text="${row.email}"></td>
												<td th:text="${row.mobile}"></td>
												<td th:text="${row.role}"></td>
												<td th:text="${row.enabled == true?'Active':'Inactive'}"></td>
											</tr>
										</tbody>
									</table> 
								</div>
							</div>
						</div>

						<span th:substituteby="commons :: common-copyright"></span>
					</div>
				</div><!-- / end content section -->

			</div><!-- / end row -->
		</div><!-- / end conatiner -->

		<span th:substituteby="commons :: common-js"></span>
	</body>
</html>
