<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" type="image/png" th:href="@{img/favicon.ico}"/>
		<title>Admin DashBoard</title>
		<meta th:substituteby="commons :: common-css"></meta>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<!-- header section -->
				<div class="header col-md-12">
					<div class="row">

						<!-- header top-->
						<span th:substituteby="commons :: common-top-menu"></span>

						<!-- header main -->
						<span th:substituteby="commons :: common-site-logo-title"></span>
					</div>
				</div>

				<!-- menu main section-->
				<span th:substituteby="commons :: common-menu"></span>

				<!-- content section -->
				<div class="col-md-12 content-area">
					<div class="row">

						<!-- Success / Error Messages -->
						<div class="col-md-12">
							<div th:if="${sm}" id="success-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${sm}">Message</span> 
							</div>
							<div th:if="${em}" id="error-alert" class="alert alert-danger alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Error!</strong> <span th:text="${em}">Message</span> 
							</div>
						</div>

						<!-- super admin dashboard -->
						<div class="col-md-12 super-admin-dashboard">
							<div class="panel panel-primary">
								<div class="panel-heading custom-primary">
									<h4 style="margin: 0;" th:text="#{dashboard.table.superAdminDashboard}">Super Admin Dashboard</h4>
								</div>
								<div class="panel-body">

									<table class="sadt" style="margin-bottom: 50px;">
										<tr>
											<td style="width: 30%" th:text="#{dashboard.totalSellOfSoftware}">Total Sell of software</td>
											<td style="width: 5%"> <span class="dashboardItmes" th:text="${adminDashboard.totalSellOfSoftware}"></span></td>
											<td style="width: 30%; text-align: center;"></td>
											<td style="width: 30%" th:text="#{dashboard.totalDealerForThisSoftware}">Total Deller for this software</td>
											<td style="width: 5%"> <span class="dashboardItmes" th:text="${adminDashboard.totalDealerOfSoftware}"></span></td>
										</tr>
										<tr>
											<td style="width: 30%" th:text="#{dashboard.activeClient}">Active Client</td>
											<td style="width: 5%"> <span class="dashboardItmes" th:text="${adminDashboard.activeClient}"></span></td>
											<td style="width: 30%; text-align: center;"></td>
											<td style="width: 30%" th:text="#{dashboard.serviceRenewOnThisMonth}">Service renew for this month</td>
											<td style="width: 5%"> <span class="dashboardItmes" th:text="${adminDashboard.serviceRenewCurrentMotnh}"></span></td>
										</tr>
										<tr>
											<td style="width: 30%" th:text="#{dashboard.inactiveClient}">Deactive Client</td>
											<td style="width: 5%"> <span class="dashboardItmes" th:text="${adminDashboard.inactiveClients}"></span></td>
											<td style="width: 30%; text-align: center;"></td>
											<td style="width: 30%"></td>
											<td style="width: 5%"></td>
										</tr>
									</table>

									<table id="example" class="table table-bordered table-striped table-hover" width="100%">
										<thead>
											<tr style="color: tomato">
												<th th:text="#{dashboard.table.no}">No</th>
												<th th:text="#{dashboard.table.dealerName}">Diller Name</th>
												<th th:text="#{dashboard.table.mobileNo}">Mobile No.</th>
												<th th:text="#{dashboard.table.status}">Status</th>
												<th th:text="#{dashboard.table.activeClient}">Active client</th>
												<th th:text="#{dashboard.table.inactiveClient}">DeActive Account</th>
												<th data-nosort="Y" th:text="#{dashboard.table.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="row, num : ${dealers}">
												<td th:text="${num.count}">01</td>
												<td th:text="${row.dealerName}">Md. Sadi chowdhury</td>
												<td th:text="${row.mobile}">01515634889</td>
												<td th:text="${row.status == true?'Active':'Inactive'}"></td>
												<td th:text="${row.activeClients}"></td>
												<td th:text="${row.inactiveClients}">3</td>
												<td style="text-align: center;">
													<div class="btn-group">
														<a th:href="@{/dealer/view/} + ${row.dealerId}" data-toggle="tooltip" th:title="#{dashboard.table.viewProfile}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i> </a>
														<a th:href="@{/dealer/edit/} + ${row.dealerId}" data-toggle="tooltip" th:title="#{dashboard.table.editProfile}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> </a>
														<a th:href="@{/print/dealer/} + ${row.dealerId}" target="_blank" data-toggle="tooltip" th:title="#{dashboard.table.printProfile}" class="btn btn-success btn-sm"><i class="fa fa-print"></i> </a>
														<a onclick="return confirm('Are you sure to delete this item?')" th:href="@{/dealer/archive/} + ${row.dealerId}" data-toggle="tooltip" th:title="#{dashboard.table.deleteProfile}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> </a>
														<a th:if="${row.status}" th:href="@{/dealer/changeStatus/} + ${row.dealerId}" data-toggle="tooltip" th:title="#{dashboard.table.suspendProfile}" class="btn btn-warning btn-sm"><i class="fa fa-arrow-down"></i> </a>
														<a  th:unless="${row.status}" th:href="@{/dealer/changeStatus/} + ${row.dealerId}" data-toggle="tooltip" th:title="#{dashboard.table.activeProfile}" class="btn btn-success btn-sm"><i class="fa fa-arrow-up"></i> </a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
						<!-- / end super admin dashboard -->

						<!-- Client details -->
						<div class="col-md-12 client-details" style="margin-top: 20px;">
							<div class="panel panel-success">
								<div class="panel-heading custom-success">
									<h4 style="margin: 0;" th:text="#{dashboard.table.clientLists}">Client Lists</h4>
								</div>
								<div class="panel-body">
									<table class="table table-bordered table-responsive table-hover" id="example" width="100%">
										<thead>
											<tr style="color: tomato;">
												<th th:text="#{dashboard.table.no}">No.</th>
												<th th:text="#{dashboard.table.clientName}">Client name</th>
												<th th:text="#{dashboard.table.dealerName}">Dealer Name</th>
												<th th:text="#{dashboard.table.expireDate}">Expire date</th>
												<th th:text="#{dashboard.table.remainingDay}">Remaining Day</th>
												<th>Status</th>
												<th data-nosort="Y" th:text="#{dashboard.table.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="row,num : ${clients}">
												<td th:text="${num.count}">1</td>
												<td th:text="${row.clientName}">Jatrabari Madrasha</td>
												<td th:text="${row.dealerName}">Habibur rahman</td>
												<td th:text="${row.expireDate}">15th june 2017</td>
												<td th:text="${row.RemainingDay}">Remaining Days</td>
												<td th:text="${row.status == true?'Active':'Inactive'}"></td>
												<td style="text-align: center;">
													<div class="btn-group">
														<a th:href="@{/client/view/} + ${row.clientId}" data-toggle="tooltip" th:title="#{dashboard.table.viewProfile}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> </a>
														<a th:href="@{/client/updateService/} + ${row.clientId}" data-toggle="tooltip" th:title="#{dashboard.table.updateService}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> </a>
														<a th:href="@{/print/client/} + ${row.clientId}" target="_blank" data-toggle="tooltip" th:title="#{dashboard.table.printProfile}" class="btn btn-sm btn-success"><i class="fa fa-print"></i></a>
														<a th:href="@{/client/edit/} + ${row.clientId}" data-toggle="tooltip" th:title="#{dashboard.table.editProfile}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> </a>
														<a th:href="@{/client/archive/} + ${row.clientId}" onclick="return confirm('Are you sure to delete this item')" data-toggle="tooltip" th:title="#{dashboard.table.deleteProfile}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </a>
														<a th:if="${row.status}" th:href="@{/client/changeStatus/} + ${row.clientId}" data-toggle="tooltip" th:title="#{dashboard.table.suspendProfile}" class="btn btn-sm btn-warning"><i class="fa fa-arrow-down"></i></a>
														<a th:unless="${row.status}" th:href="@{/client/changeStatus/} + ${row.clientId}" data-toggle="tooltip" th:title="#{dashboard.table.activeProfile}" class="btn btn-sm btn-success"><i class="fa fa-arrow-up"></i> </a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div><!-- / end content section -->

				<span th:substituteby="commons :: common-copyright"></span>
			</div><!-- / end row -->
		</div><!-- / end conatiner -->

		<span th:substituteby="commons :: common-js"></span>
	</body>
</html>