<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" type="image/png" th:href="@{img/favicon.ico}"/>
		<title>Client DashBoard</title>
		<meta th:substituteby="commons :: common-css"></meta>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<!-- header section -->
				<div class="header col-md-12">
					<div class="row">

						<!-- header top-->
						<span th:substituteby="commons :: common-top-menu"></span>

						<!-- header main -->
						<span th:substituteby="commons :: common-site-logo-title"></span>

					</div>
				</div>

				<!-- menu main section-->
				<span th:substituteby="commons :: common-menu"></span>

				<!-- content section -->
				<div class="col-md-12 content-area">
					<div class="row">

						<!-- Success / Error Messages -->
						<div class="col-md-12">
							<div th:if="${sm}" id="success-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${sm}">Message</span> 
							</div>
							<div th:if="${em}" id="error-alert" class="alert alert-danger alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Error!</strong> <span th:text="${em}">Message</span> 
							</div>
							<div th:if="${smsNotifier.message}" id="warning-alert" class="alert alert-warning">
								<strong>Warning!</strong> <span th:text="${smsNotifier.message}">Message</span> 
								<a th:href="@{/smsNotifier/close/} + ${smsNotifier.username}" class="pull-right" data-toggle="tooltip" title="Close for today"><i class="fa fa-times"></i></a>
							</div>
						</div>

						<!-- Client details -->
						<div class="col-md-12 super-admin-dashboard">
							<div class="panel panel-primary">
								<div class="panel-heading custom-primary">
									<h4 style="margin: 0; color: #fff;" th:text="#{dashboard.table.clientDashboard}">Client Lists</h4>
								</div>
								<div class="panel-body">
									<table class="sadt" style="margin-bottom: 50px;">
										<tr>
											<td style="width: 30%" th:text="#{dashboard.totalDonar}">Total Donar</td>
											<td style="width: 5%"> <span class="dashboardItmes"  th:text="${clientDashboard.totalDonar}"></span></td>
											<td style="width: 30%; text-align: center;"></td>
											<td style="width: 30%"></td>
											<td style="width: 5%"></td>
										</tr>
										<tr>
											<td style="width: 30%" th:text="#{dashboard.activeDonar}">Active Donar</td>
											<td style="width: 5%"> <span class="dashboardItmes" th:text="${clientDashboard.activeDonar}"></span></td>
											<td style="width: 30%; text-align: center;"></td>
											<td style="width: 30%"></td>
											<td style="width: 5%"></td>
										</tr>
										<tr>
											<td style="width: 30%" th:text="#{dashboard.inactiveDonar}">Inactive Donar</td>
											<td style="width: 5%"> <span class="dashboardItmes" th:text="${clientDashboard.inactiveDonar}"></span></td>
											<td style="width: 30%; text-align: center;"></td>
											<td style="width: 30%"></td>
											<td style="width: 5%"></td>
										</tr>
										<tr>
											<td style="width: 30%" th:text="#{dashboard.numberOfPayeeDonarInThisMonth}">Deactive Client</td>
											<td style="width: 5%"> <span class="dashboardItmes" th:text="${clientDashboard.numberOfPayeeDonarInThisMonth}"></span></td>
											<td style="width: 30%; text-align: center;"></td>
											<td style="width: 30%"></td>
											<td style="width: 5%"></td>
										</tr>
									</table>
									<h3 align="center">Donars List</h3>
									<table class="table table-bordered table-responsive table-hover" id="example" width="100%">
										<thead>
											<tr style="color: tomato;">
												<th th:text="#{dashboard.table.no}">No.</th>
												<th th:text="#{dashboard.table.donarName}">Donar name</th>
												<th th:text="#{dashboard.table.category}">Category</th>
												<th th:text="#{dashboard.table.mobileNo}">Mobile Number</th>
												<th>Payable Amount</th>
												<th th:text="#{dashboard.table.status}">Status</th>
												<th th:text="#{dashboard.table.smsService}">Sms service</th>
												<th data-nosort="Y" th:text="#{dashboard.table.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="row,num : ${client.donars}">
												<td th:text="${num.count}"></td>
												<td th:text="${row.donarName}"></td>
												<td th:text="${row.categoryName}"></td>
												<td th:text="${row.mobile}"></td>
												<td th:text="${row.payableAmount}"></td>
												<td th:text="${row.status == true? 'Active' : 'Inactive'}"></td>
												<td th:text="${row.smsService == true? 'Active' : 'Inactive'}"></td>
												<td style="text-align: center;">
													<div class="btn-group">
														<a th:href="@{/donar/view/} + ${row.donarId}" class="btn btn-sm btn-info" data-toggle="tooltip" title="View Profile"><i class="fa fa-eye"></i></a>
														<a th:href="@{/donar/edit/} + ${row.donarId}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
														<a th:if="${row.status}" th:href="@{/donar/changeStatus/} + ${row.donarId}" data-toggle="tooltip" class="btn btn-warning btn-sm" title="Make inactive"><i class="fa fa-arrow-down"></i></a>
														<a th:unless="${row.status}" th:href="@{/donar/changeStatus/} + ${row.donarId}" class="btn btn-success btn-sm" data-toggle="tooltip" title="Make active"><i class="fa fa-arrow-up"></i></a>
														<a th:href="@{/donar/archive/} + ${row.donarId}" onclick="return confirm('Are you sure to delete this item?')" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div><!-- / end content section -->

				<span th:substituteby="commons :: common-copyright"></span>
			</div><!-- / end row -->
		</div><!-- / end conatiner -->

		<span th:substituteby="commons :: common-js"></span>
	</body>
</html>