<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" type="image/png" th:href="@{img/favicon.ico}"/>
		<title>Access Denied</title>
		<meta th:substituteby="commons :: common-css"></meta>
	</head>
	<body style="text-align: center;">
		<div class="jumbotron">
		 	<h1 th:text="${accessMessage}">Access Denied</h1>
		 	<a th:href="@{/}" href="#" class="btn btn-warning"><i class="fa fa-backward"></i> Back to Home page</a>
	 	</div>
	 	
	 	<span th:substituteby="commons :: common-js"></span>
	</body>
</html>