<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title th:text="${pageTitle}">DashBoard</title>
		<span th:substituteby="commons :: common-css"></span>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<!-- header section -->
				<div class="header col-md-12">
					<div class="row">

						<!-- header top-->
						<span th:substituteby="commons :: common-top-menu"></span>

						<!-- header main -->
						<span th:substituteby="commons :: common-site-logo-title"></span>

					</div>
				</div>

				<!-- menu main section-->
				<span th:substituteby="commons :: common-menu"></span>

				<!-- content section -->
				<div class="col-md-12 content-area">
					<div class="row">

						<!-- Success / Error Messages -->
						<div class="col-md-12">
							<div th:if="${sm}" id="success-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${sm}">Message</span> 
							</div>
							<div th:if="${em}" id="error-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${em}">Message</span> 
							</div>
						</div>

						<!-- dealer create form  -->
						<div class="col-md-12 add-deller-page">
							<div class="panel panel-primary">
								<div class="panel-heading custom-primary">
									<h4 style="margin: 0;">Add Donar</h4>
								</div>
								<div class="panel-body">
									<form method="POST" th:action="@{/donar}" th:object="${donar}" autocomplete="off" enctype="multipart/form-data">
										<div class="col-md-8">
											<div class="form-group">
												<label>Donar Name</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('donarName')}" th:errors="*{donarName}">Please enter donar name</span>
												<div class="required-field-block">
													<input type="text" th:field="*{donarName}" class="form-control" required="required"/>
													<div class="required-icon">
														<div class="text">*</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label>Category</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">Please select one category</span>
												<div class="required-field-block">
													<select th:field="*{categoryId}" class="form-control select" required="required">
														<option value=""> -- Select Category -- </option>
														<option th:each="item : ${donar.categories}" th:value="${item.categoryId}" th:text="${item.name}"></option>
													</select>
													<div class="required-icon">
														<div class="text">*</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label>Email</label>
												<input type="email" nospace="true" th:field="*{email}" class="form-control"/>
											</div>
											<div class="form-group">
												<label>Address</label>
												<textarea th:field="*{address}" class="form-control"></textarea>
											</div>
											<div class="form-group">
												<label>Mobile</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">Please enter mobile number</span>
												<div class="required-field-block">
													<input type="text" th:field="*{mobile}" maxlength="11" class="form-control numeric-only" required="required"/>
													<div class="required-icon">
														<div class="text">*</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label>Payable Amount</label><span class="pull-right text-danger" th:if="${#fields.hasErrors('payableAmount')}" th:errors="*{payableAmount}">Please enter amount</span>
												<div class="required-field-block">
													<input type="text" th:field="*{payableAmount}" class="form-control numeric-only" required="required"/>
													<div class="required-icon">
														<div class="text">*</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label>Institute Name</label>
												<input type="text" th:field="*{instituteName}" class="form-control"/>
											</div>
											<div class="form-group">
												<label>Status</label>
												<label class="checkbox-inline"><input type="checkbox" th:field="*{status}"/> Active</label>
											</div>
											<div class="form-group">
												<label>SMS Service</label>
												<label class="checkbox-inline"><input type="checkbox" th:field="*{smsService}"/> Active</label>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">Upload Photo:</label>
												<span class="pull-right text-success">Max Size: 5MB, (200 x 220)px</span>
												<div class="input-group">
													<label class="input-group-btn">
														<span class="btn btn-primary">
															Brows &hellip; <input accept=".jpg, .jpeg, .png" type="file" name="file" id="file" style="display: none;">
														</span>
													</label>
													<input type="text" class="form-control" readonly="readonly" placeholder="Please select a jpg, png, jpeg image. Max(5MB)">
												</div>
											</div>
											<div id="uploadPreview">
												<img th:unless="${#strings.isEmpty(donar.photo)}" th:src="@{/resources/upload/donar/} + ${donar.photo}"/>
												<img th:if="${#strings.isEmpty(donar.photo)}" th:src="@{/img/dummy_photo.png}"/>
											</div>
										</div>
										<div class="col-md-12" style="text-align: center;">
											<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Add Donar</button>
										</div>
									</form>
								</div>
							</div>
						</div><!-- / end dealer create form  -->

					</div>
				</div><!-- / end content section -->

				<span th:substituteby="commons :: common-copyright"></span>
			</div><!-- / end row -->
		</div><!-- / end conatiner -->

		<span th:substituteby="commons :: common-js"></span>
	</body>
</html>