<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" type="image/png" th:href="@{img/favicon.ico}"/>
		<title>Donar Profile</title>
		<meta th:substituteby="commons :: common-css"></meta>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<!-- header section -->
				<div class="header col-md-12">
					<div class="row">

						<!-- header top-->
						<span th:substituteby="commons :: common-top-menu"></span>

						<!-- header main -->
						<span th:substituteby="commons :: common-site-logo-title"></span>

					</div>
				</div>

				<!-- menu main section-->
				<span th:substituteby="commons :: common-menu"></span>

				<!-- content section -->
				<div class="col-md-12 content-area">
					<div class="row">

						<!-- Success / Error Messages -->
						<div class="col-md-12">
							<div th:if="${success}" id="success-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${success}">Message</span> 
							</div>
							<div th:if="${error}" id="error-alert" class="alert alert-success alert-dismissable">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Success!</strong> <span th:text="${error}">Message</span> 
							</div>
						</div>

						<!-- Client details -->
						<div class="col-md-12 super-admin-dashboard">
							<div class="panel panel-primary">
								<div class="panel-heading custom-primary">
									<div class="row panel-heading-row">
										<h4 style="margin: 0; color: #fff;" th:text="#{dashboard.table.clientInfo}">Client Lists</h4>
										<div class="btn-group pull-right">
											<a th:href="@{/}" class="btn btn-sm btn-success"><i class="fa fa-backward"></i> Back</a>
											<a th:href="@{/donar/edit/} + ${donar.donarId}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> Edit</a>
											<a th:href="@{/}" class="btn btn-sm btn-info"><i class="fa fa-print"></i> Print</a>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-9">
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Donar Name</label>
													<div class="col-md-8 profileView-div" th:text="${donar.donarName}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Mobile Number</label>
													<div class="col-md-8 profileView-div" th:text="${donar.mobile}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Email Address</label>
													<div class="col-md-8 profileView-div" th:text="${donar.email}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Address</label>
													<div class="col-md-8 profileView-div" th:text="${donar.address}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Category</label>
													<div class="col-md-8 profileView-div" th:text="${donar.categoryName}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Category</label>
													<div class="col-md-8 profileView-div" th:text="${donar.payableAmount}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Sms Service</label>
													<div class="col-md-8 profileView-div" th:text="${donar.smsService?'Active':'Inactive'}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Register Date</label>
													<div class="col-md-8 profileView-div" th:text="${donar.registerDate}"></div>
												</div>
												<div class="form-group row" style="margin-bottom: 10px;">
													<label class="col-md-3 profileView-label">Status</label>
													<div class="col-md-8 profileView-div" th:text="${donar.status?'Active':'Inactive'}"></div>
												</div>
											</div>
											<div class="col-md-2 pull-right">
												<div class="profile-photo pull-right" th:unless="${#strings.isEmpty(donar.photo)}">
													<img th:src="@{/resources/upload/donar/} + ${donar.photo}"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div><!-- / end content section -->

				<span th:substituteby="commons :: common-copyright"></span>
			</div><!-- / end row -->
		</div><!-- / end conatiner -->

		<span th:substituteby="commons :: common-js"></span>
	</body>
</html>