<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<!-- Top Menus -->
	<span th:remove="tag" th:fragment="common-top-menu" xmlns:th="http://www.thymeleaf.org">
		<div class="col-md-12 header-top">
			<ul class="top-menu">
				<li th:if="${#authentication.name != 'anonymousUser'}"><a th:href="@{/logout}"><i class="fa fa-sign-out"></i> Logout</a></li>
				<li th:if="${#authentication.name == 'anonymousUser'}" ><a th:href="@{/login}"><i class="fa fa-sign-in"></i> Login</a></li>
				<li th:if="${#authentication.name != 'anonymousUser'}"><a href=""><i class="fa fa-user-circle-o"></i> <span th:text="${#authentication.name}"></span> Profile Edit</a></li>
				<li th:if="${#authentication.name != 'anonymousUser'}"><a href="#"><i class="fa fa-clock-o"></i> <span th:text="${session.lastLogin}"></span></a></li>
			</ul>
		</div>
	</span>

	<!-- Site logo and title -->
	<span th:remove="tag" th:fragment="common-site-logo-title" xmlns:th="http://www.thymeleaf.org">
		<span th:if="${session.siteConfig.enableLogo}">
			<div th:unless="${session.siteConfig.logo}" class="col-md-12 header-main">
				<a th:href="@{/}"><img th:src="@{/img/site_logo.png}" alt="Software Industry Ltd" /></a>
			</div>
			<div th:if="${session.siteConfig.logo}" class="col-md-12 header-main">
				<a th:href="@{/}"><img th:src="@{/resources/upload/site/logo/} + ${session.siteConfig.logo}"/></a>
			</div>
		</span>
		<span th:unless="${session.siteConfig.enableLogo}">
			<div th:if="${session.siteConfig.siteName == ''}" class="col-md-12 header-main">
				<a th:href="@{/}"><img th:src="@{/img/site_logo.png}" alt="Software Industry Ltd" /></a>
			</div>
			<div id="siteTitle" th:if="${session.siteConfig.siteName != ''}" class="col-md-12 header-main">
				<a th:href="@{/}"><h1 th:text="${session.siteConfig.siteName}"></h1></a>
			</div>
		</span>
	</span>

	<!-- Main Menus -->
	<span th:remove="tag" th:fragment="common-menu" xmlns:th="http://www.thymeleaf.org">
		<div class="col-md-12 menu-area">
			<nav class="navbar">
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-right">
						<li th:if="${#authentication.name != 'anonymousUser'}" th:classappend="${#strings.equalsIgnoreCase(pageTitle, 'Dashboard')}?active"><a th:href="@{/}">You</a></li>
						<li sec:authorize="${hasRole('ROLE_ADMIN')}" th:classappend="${#strings.equalsIgnoreCase(pageTitle, 'Add dealer')}?active"><a th:href="@{/dealer}">Add Deller</a></li>
						<li sec:authorize="${hasRole('ROLE_DEALER')}" th:classappend="${#strings.equalsIgnoreCase(pageTitle, 'Add client')}?active"><a th:href="@{/client}">Add Client</a></li>
						<li sec:authorize="${hasRole('ROLE_CLIENT')}" th:classappend="${#strings.equalsIgnoreCase(pageTitle, 'Add category')}?active"><a th:href="@{/category}">Add Category</a></li>
						<li sec:authorize="${hasRole('ROLE_CLIENT')}" th:classappend="${#strings.equalsIgnoreCase(pageTitle, 'Add donar')}?active"><a th:href="@{/donar}">Add Donar</a></li>
						<li sec:authorize="${hasRole('ROLE_CLIENT')}" th:classappend="${#strings.equalsIgnoreCase(pageTitle, 'Add donation')}?active"><a th:href="@{/donation}">Take Donation</a></li>
						<li sec:authorize="${hasRole('ROLE_CLIENT')}" th:classappend="${#strings.equalsIgnoreCase(pageTitle, 'Report')}?active"><a th:href="@{/report}">Report</a></li>
						<!-- site settings -->
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-cogs"></i>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a sec:authorize="${hasRole('ROLE_ADMIN')}" th:href="@{/users}">All Users</a></li>
								<li><a sec:authorize="${hasRole('ROLE_ADMIN')}" th:href="@{/users/create}">Create User</a></li>
								<li><a sec:authorize="${hasRole('ROLE_ADMIN')}" th:href="@{/smsaccount}">SMS Account settings</a></li>
								<li><a th:href="@{/sendSms/} + ${#authentication.getPrincipal().getUsername()}">Send SMS</a></li>
								<li><a th:href="@{/smsBucket/} + ${#authentication.getPrincipal().getUsername()}">SMS Bucket</a></li>
								<li><a th:href="@{/siteConfig/} + ${#authentication.getPrincipal().getUsername()}">Site Config</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</span>

	<!-- css -->
	<span th:remove="tag" th:fragment="common-css" xmlns:th="http://www.thymeleaf.org">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/datepicker.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-toggle.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.responsive.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/password.css}" />
	</span>

	<!-- login-css -->
	<span th:remove="tag" th:fragment="common-login-css" xmlns:th="http://www.thymeleaf.org">
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/animation.css}"/>
	</span>

	<!-- JS -->
	<span th:remove="tag" th:fragment="common-js" xmlns:th="http://www.thymeleaf.org"> 
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script> 
		<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script> 
		<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script> 
		<script type="text/javascript" th:src="@{/js/jquery.dataTable.min.js}"></script> 
		<script type="text/javascript" th:src="@{/js/dataTables.bootstrap.js}"></script> 
		<script type="text/javascript" th:src="@{/js/dataTables.responsive.js}"></script> 
		<script type="text/javascript" th:src="@{/js/bootstrap-toggle.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/tooltip.js}"></script>
		<script type="text/javascript" th:src="@{/js/jQuery.print.js}"></script>
		<script type="text/javascript" th:src="@{/js/password.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.maxlength.js}"></script>
		<script type="text/javascript" th:src="@{/js/commons.js}"></script>
		<!-- file upload and image preview -->
		<script type="text/javascript">
			$(function () {
				// We can attach the `fileselect` event to all file inputs on the page
				$(document).on('change', ':file', function () {
					var input = $(this),
					numFiles = input.get(0).files ? input.get(0).files.length : 1,
					label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
					input.trigger('fileselect', [numFiles, label]);
				});
				// We can watch for our custom `fileselect` event like this
				$(document).ready(function () {
					$(':file').on('fileselect', function (event, numFiles, label) {
						var input = $(this).parents('.input-group').find(':text'),
						log = numFiles > 1 ? numFiles + ' files selected' : label;
						if (input.length) {
							input.val(log);
						} else {
							if (log)
							alert(log);
						}
					});
				});
			});
			//preview image
			$(document).ready(function() {
				var _URL = window.URL || window.webkitURL;
				$("#file").change(function(e) {
					var image, file;
					if ((file = this.files[0])) {
						image = new Image();
						image.onload = function() {
							src = this.src;
							$('#uploadPreview').html('<img src="'+ src +'" width="100%" height="100%"></div>');
							e.preventDefault();
						}
					};
					image.src = _URL.createObjectURL(file);
				});
			});
		</script>
		<!-- Printing Script -->
		<script type='text/javascript'>
			jQuery(function ($) {
				'use strict';
				$("#print-element").find('.print-link').on('click', function () {
					//Print ele2 with default options
					$("#inside_element").print({
						//Use Global styles
						globalStyles : true,
						//Add link with attrbute media=print
						mediaPrint : true,
						//Custom stylesheet
						stylesheet : "http://fonts.googleapis.com/css?family=Inconsolata",
						//Print in a hidden iframe
						iframe : true,
						//Don't print this
						noPrintSelector : ".avoid-this",
						//Add this at top
						prepend : "Hello World!!!<br/>",
						//Add this on bottom
						append : "<br/>Buh Bye!",
						//Log to console when printing is done via a deffered callback
						deferred: $.Deferred().done(function() { console.log('Printing done', arguments); })
					});
				});
			});
		</script>
	</span>

	<!-- CopyRights -->
	<span th:remove="tag" th:fragment="common-copyright" xmlns:th="http://www.thymeleaf.org">
		<p id="copyRight">&copy; <a th:href="#{sil.company.website}" target="_blank">Software Industry Ltd</a></p>
	</span>
</div>